html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Asegura que ocupen todo el ancho */
}

header{
    padding-block: 1rem;
}
    /*
#imagen-header{
    color: white;
    height:5%;
    width:5%;
    padding: 0.5rem;
    justify-content: center;
}*/
.header-principal{
    width: 100%; /* Ocupa todo el ancho de la ventana */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    background-color: rgb(211, 18, 18);
    color: white;
    font: bold;
    font-family: 'Verdana','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: "Gill Sans", sans-serif;*/
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0,.5);
    
}

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos{
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

.pokemon{
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 25);
    padding-block: 1 rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-id-back{
    position: absolute;
    top:1rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: lightgray;
    z-index: -1;
}
.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    /*movemos el contenedor de la imagen hacia abajo*/
    margin-top: 1rem;
}
.pokemon-imagen img{
    width: 100%;
    max-width: 6rem;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline:1rem ;
    align-items: center;
    text-align: center;
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap:.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-nombre{
    font-size: 1.4rem;
}

.pokemon-tipos{
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {

    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat{
    background-color: rgb(240, 240, 240);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon{
    position: relative;
    overflow: hidden;
    /*Suavizar el cambio*/
    transition: transform 0.3 ease;
    cursor: pointer;
}

.pokemon:hover{
    /*Aumenta el tamnio de la tarjeta*/
    transform: scale(1.1);
}

.pokemon-info {
    opacity: 1;
    /* Animar la aparición/desaparición del contenido */
    transition: opacity 0.3s ease; 
}

.pokemon:hover .pokemon-info {
    /* Ocultar el contenido */
    opacity: 0; 
}

.pokemon-imagen img {
    /* Animar el aumento de la imagen */
    transition: transform 0.3s ease; 
}

.pokemon:hover .pokemon-imagen img {
    /* Aumentar el tamaño de la imagen al pasar el mouse */
    transform: scale(1.5); 
}